record(dfanout, "$(P)$(R)IMMFanoutCapture")
{
   field(SCAN, "Passive")
   field(OUTA, "$(P)IMM0:Capture PP NMS")
   field(OUTB, "$(P)IMM1:Capture PP NMS")
   field(OUTC, "$(P)IMM2:Capture PP NMS")
   field(OMSL, "closed_loop")
   field(DOL, "$(P)$(R)IMMJoinedCapture.RVAL")
}

record(bo, "$(P)$(R)IMMJoinedCapture")
{
   field(DTYP, "Raw Soft Channel")
   field(ONAM, "Capture")
   field(ZNAM, "Done")
   field(FLNK, "$(P)$(R)IMMFanoutCapture")
}
